div {
    text-align: center;

   
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    transition: transform 0.3s ease-in-out; 
  }
  
  
  h2:hover {
    transform: scale(1.1); 
  }
  
  h2 {
    font-size: 24px;
    color: #C0B283; /*Color letra de pizzas*/
    animation: bounce 1s infinite; 
    -webkit-text-stroke: 1px black;
  }
  
  h2:hover {
    animation: none; 
  }

  .item-ingred{
    font-size: 12px;
  }

  .item-section{
    display: flex;
    flex-wrap: wrap;
    background-color: #C0B283;
    width: 1040px;
    margin: 30px auto;
    padding: 24px;
    min-height: 400px;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
  }